header{
	font-family: Calibri;
	font-size: 50px;
	font-weight: bold;
	color: #5aa4d6;
	text-align: center;
}
body {
	background-color: silver;
}

#background_canvas{
	position: absolute;
	top: 117px;
	left: 8px;
}

#inventar{
	background-color: white;
	position: absolute;
	top: 117px;
	left: 832px;
}

#textfeld{
	background-color: white;
	position: absolute;
	top: 541px;
	left: 8px;
}

#schluessel{
	position: absolute;
	top: 235px;
	left: 870px;
}

#schluessel2{
	position: absolute;
	top: 338px;
	left: 870px;
}

#startButton {
	text-align: center;
	width: 120px;
	font-family: Calibri;
	color: #ffffff;
	font-size: 25px;
	background: #5aa4d6;
	padding: 7px 12px 7px 12px;
	text-decoration: none;
	cursor: pointer;
}
#beenden{
	text-align: center;
	width: 200px;
	font-family: Calibri;
	color: #ffffff;
	font-size: 25px;
	background: #5aa4d6;
	padding: 7px 12px 7px 12px;
	text-decoration: none;
	cursor: pointer;
}

.click-zone {
	visibility: hidden;
    position: absolute;
    cursor: pointer;
    z-index: 2;
    border: 1px solid blue; 
}
/* Fenster */
.click-zone.a {
	left: 757px;
	top: 169px;
	width: 48px;
	height: 213px;
	border-bottom-left-radius:75px;
}
/* Tür */
.click-zone.b {
	left: 33px;
	top: 192px;
	width: 85px;
	height: 287px;
}
/* Inventar 1 */
.click-zone.c {
	left: 850px;
	top: 225px;
	width: 118px;
	height: 85px;
}
/* Inventar 2 */
.click-zone.d {
	left: 848px;
	top: 319px;
	width: 123px;
	height: 94px;
}
/* Kranz/ */
.click-zone.e {
	left: 282px;
	top: 131px;
	width: 104px;
	height: 89px;
}
/* Teppich */
.click-zone.f {
	left: 165px;
	top: 449px;
	width: 510px;
	height: 64px;
}
/* Stiefel1 */
.click-zone.g {
	left: 245px;
	top: 257px;
	width: 50px;
	height: 51px;
}
/* Stiefel2 */
.click-zone.h {
	left: 298px;
	top: 259px;
	width: 44px;
	height: 50px;
}
/* Stiefel3 */
.click-zone.i {
	left: 343px;
	top: 257px;
	width: 44px;
	height: 53px;
}
/* Stiefel4 */
.click-zone.j {
	left: 391px;
	top: 253px;
	width: 39px;
	height: 55px;
}
/* Feuer */
.click-zone.k {
	left: 283px;
	top: 317px;
	width: 87px;
	height: 71px;
}
/* GeschenkLinks */
.click-zone.l {
	left: 417px;
	top: 372px;
	width: 65px;
	height: 54px;
}
/* GeschenkRechts */
.click-zone.m {
	left: 491px;
	top: 390px;
	width: 63px;
	height: 49px;
}
/* Stern */
.click-zone.n {
	left: 600px;
	top: 159px;
	width: 45px;
	height: 47px;
}
/* Weihnachtsbaum */
.click-zone.o {
	left: 555px;
	top: 231px;
	width: 91px;
	height: 175px;
}
/* Gardine */
.click-zone.p {
	left: 697px;
	top: 147px;
	width: 59px;
	height: 214px;
}

/* unbenutzte:
Regal 10 (Bild) */
.click-zone.q {
	left: 366px;
	top: 345px;
	width: 88px;
	height: 53px;
}
/* Regal 11 (Truhe) */
.click-zone.r {
	left: 471px;
	top: 351px;
	width: 93px;
	height: 45px;
}
/* Regal 12 (Ordner2) */
.click-zone.s {
	left: 571px;
	top: 349px;
	width: 85px;
	height: 49px;
}
/* Bild */
.click-zone.t {
	left: 199px;
	top: 159px;
	width: 104px;
	height: 73px;
}
/* Obstschale */
.click-zone.u {
	left: 240px;
	top: 243px;
	width: 99px;
	height: 51px;
}
/* Kommode */
.click-zone.v {
	left: 12px;
	top: 354px;
	width: 115px;
	height: 158px;
}
/* Pflanze */
.click-zone.w {
	left: 143px;
	top: 243px;
	width: 73px;
	height: 94px;
}
