table, th, td {
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}

body {
    
	background-image: url(images/startbild.png);
	background-color: silver;
	background-repeat: no-repeat;
	background-position: top, center;
	font-family: Calibri;
}

header{
	font-size: 80px;
	font-weight: bold;
	color: #5aa4d6;
}

p{
	font-size: 18px;
	font-weight: bold;
}

h1{
	font-size: 38px;
	font-weight: bold;
}

summary{
	font-size: 30px;
	font-weight: bold;
}

.mybuttons {
	text-align: center;
	width: 200px;
	-webkit-border-radius: 25;
	-moz-border-radius: 25;
	border-radius: 20px;
	font-family: Calibri;
	color: #ffffff;
	font-size: 25px;
	background: #5aa4d6;
	padding: 15px 20px 15px 20px;
	text-decoration: none;
	cursor: pointer;
}

