body {
  background-image: url(images/startbild.png);
  background-repeat: no-repeat;
  background-position: top, center;
  font-family: Calibri;
}

.mybuttons {
	text-align: center;
	width: 200px;
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 20px;
  font-family: Arial;
  color: #ffffff;
  font-size: 25px;
  background: #5aa4d6;
  padding: 15px 20px 15px 20px;
  text-decoration: none;
  cursor: pointer;
  font-family: Calibri;
}

